.section {
  height: auto;
  margin-top: 11rem;
}
.title {
  color: #2c373f;
  font-family: 'Outfit', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: 4vh; /* 120% */
  text-transform: capitalize;
  margin-top: 4vh;
}
.line {
  border-bottom: 2px solid #63bcee;
  width: 8%;
}
.subtitle {
  color: #2a254d;
  font-family: Outfit;
  text-transform: capitalize;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
  margin-top: 4vh;
}
