.navbarBg {
  background-color: #fff !important;
  transition: 0.3s ease-in;
}
.nav {
  background-color: #ffffffcc;
  transition: 0.3s ease-in;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul li a:hover {
  color: #00adef;
  transition: 0.4s;
}
.nav ul li a {
  font-family: 'Outfit', sans-serif;
  color: #2c373f;
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 25px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}
.mainLogo {
  width: 100%;
  max-width: 13dvh; /* Defina o tamanho máximo conforme necessário */
  transition: 0.5s;
}
.secondLogo {
  width: 100%;
  max-width: 29dvh;
  transition: 0.5s;
}
.svg {
  width: 100%;
  max-width: 50px; /* Defina o tamanho máximo conforme necessário */
}
.signupButton {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #00adef;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 8.1rem;
  height: 2.5rem;
  margin-right: 2rem;
  transition: 0.3s;
}
.signupButton:hover {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff;
  color: #00adef;
  border: 3px solid #00adef;
  border-radius: 6px;
  width: 8.1rem;
  height: 2.5rem;
  margin-right: 2rem;
  transition: 0.3s;
}
.studentArea {
  border: 1px solid #fb4a8d !important;
  border-radius: 10px !important;
  padding: 7px !important;
}
.studentArea:hover {
  background-color: #fb4a8d;
  transition: 0.2s ease-in;
  color: #fff !important;
}
