.title {
  color: #2c373f;
  font-family: 'Outfit', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: 4vh; /* 120% */
  text-transform: capitalize;
  margin-top: 4vh;
}
.line {
  border-bottom: 2px solid #63bcee;
  width: 10vh;
}
.subtitle {
  color: #2a254d;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
  margin-top: 4vh;
}
.description {
  color: #9f9f9f;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px; /* 195% */
  margin-bottom: 8vh;
  margin-top: 3vh;
}
.whatsapp {
  color: #40c351;
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.25px; /* 195% */
}
