.section {
  margin-top: 10vh;
  height: auto;
}
.sectionTitle {
  color: #2c373f;
  font-family: 'Outfit', sans-serif;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
  line-height: 4vh; /* 120% */
  text-transform: capitalize;
}
.line {
  border-bottom: 2px solid #63bcee;
  width: 8%;
}
.card {
  width: 30vh;
  height: auto;
}
.values {
  font-family: 'Outfit', sans-serif;
  font-size: 2vh;
  font-weight: 700;
}
.description {
  color: #9f9f9f;
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.38px; /* 162.533% */
}
